@media screen and (min-height: 500px) {
	img.homeLogo{
		margin-top: 10%!important;	
	}
	.perfil .imagen img{
		width: 77px;
		height: 77px;
	}
	#cuestionario1, #cuestionario2{
		padding-top: 6%;
	}
}